Data Wrangling

In [2]:
#Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Read Chicago Crime Data
crime_data = pd.read_csv("Crimes_-_2001_to_present.csv", index_col="Date")

In [4]:
#Create list of crime types
crime_types = list(crime_data["Primary Type"].unique())

In [45]:
#Create list of community areas
comm_areas = list(range(1,78))

In [46]:
#Create list of months
months = []

for y in range(1,20):
    for m in range(1,13):
        year = str(2000 + y)
        month = str(m) + "-" + year
        months.append(month)
        
months = months[:-7]

In [48]:
%%time
#Create Cleaned Matrix (counts of each crime type per community area per month)
df_matrix = []

for area in comm_areas:
    for month in months:
        row = [area, month]
        counts = []
        for typ in crime_types:
            month_data = crime_data.loc[month]
            area_data = month_data.loc[month_data["Community Area"] == area]
            type_data = area_data.loc[area_data["Primary Type"] == typ]
            type_count = len(type_data)
            counts.append(type_count)
        
        row = row + counts
        df_matrix.append(row)

CPU times: user 3h 50min 1s, sys: 10min, total: 4h 2s
Wall time: 4h 9s

In [23]:
#Matrix to DataFrame
columns = ["Community Area", "Month"] + crime_types
model_df = pd.DataFrame(df_matrix, columns=columns)

In [38]:
model_df.head()

,Community Area,Month,CRIMINAL DAMAGE,OTHER OFFENSE,BURGLARY,BATTERY,MOTOR VEHICLE THEFT,ROBBERY,NARCOTICS,WEAPONS VIOLATION,...,GAMBLING,LIQUOR LAW VIOLATION,HUMAN TRAFFICKING,OTHER NARCOTIC VIOLATION,PUBLIC INDECENCY,NON-CRIMINAL,NON-CRIMINAL (SUBJECT SPECIFIED),NON - CRIMINAL,RITUALISM,DOMESTIC VIOLENCE
0,1,1-2001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2-2001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3-2001,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,4-2001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,5-2001,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
#Read in Population and Name of Community Areas, create dictionaries
comm_area_df = pd.read_csv('CommunityArea_dictionary.csv')
population_dict = dict(zip(comm_area_df["Number"], comm_area_df["Population"]))
name_dict = dict(zip(comm_area_df["Number"], comm_area_df["Name"]))

In [40]:
#Add name and population columns
model_df["Name"] = model_df["Community Area"].apply(lambda x: name_dict[x])
model_df["Population"] = model_df["Community Area"].apply(lambda x: population_dict[x])

In [41]:
model_df.head()

,Community Area,Month,CRIMINAL DAMAGE,OTHER OFFENSE,BURGLARY,BATTERY,MOTOR VEHICLE THEFT,ROBBERY,NARCOTICS,WEAPONS VIOLATION,...,HUMAN TRAFFICKING,OTHER NARCOTIC VIOLATION,PUBLIC INDECENCY,NON-CRIMINAL,NON-CRIMINAL (SUBJECT SPECIFIED),NON - CRIMINAL,RITUALISM,DOMESTIC VIOLENCE,Name,Population
0,1,1-2001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Rogers Park,54991
1,1,2-2001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Rogers Park,54991
2,1,3-2001,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,Rogers Park,54991
3,1,4-2001,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Rogers Park,54991
4,1,5-2001,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,Rogers Park,54991

In [50]:
#Create new population adjusted dataframe (crimes per 100,000 people)
model_df2 = model_df.copy()

for typ in crime_types:
    model_df2[typ + " ADJ"] = (model_df2[typ] / model_df2["Population"]) * 100000

In [51]:
#Read Zillow Data
zillow_df = pd.read_csv("Neighborhood_MedianValuePerSqft_AllHomes_chicago.csv")
zillow_df.set_index("RegionName", inplace=True)
zillow_df.head()

,RegionID,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05
RegionName,,,,,,,,,,,,,,,,,,,,,
Logan Square,269592,Chicago,IL,Chicago-Naperville-Elgin,Cook County,50,88.0,88.0,88.0,87.0,...,306,307,308,308,308,309,310,310,306,302
West Rogers Park,403169,Chicago,IL,Chicago-Naperville-Elgin,Cook County,99,101.0,101.0,102.0,101.0,...,220,219,218,218,218,218,218,218,217,215
South Austin,403120,Chicago,IL,Chicago-Naperville-Elgin,Cook County,134,50.0,50.0,50.0,49.0,...,94,96,98,100,100,100,102,103,101,99
Albany Park,269566,Chicago,IL,Chicago-Naperville-Elgin,Cook County,142,103.0,103.0,103.0,102.0,...,293,290,290,289,286,285,285,284,280,277
Uptown,269609,Chicago,IL,Chicago-Naperville-Elgin,Cook County,147,132.0,132.0,132.0,132.0,...,360,360,360,362,361,361,365,374,380,380

Neighborhood dictionary manually created using Wikipedia's matching of neighborhoods to Chicago Community Areas. Neighborhoods that covered multiple community areas were dropped. Only 64 of 77 Chicago's community areas had at least one corresponding Zillow neighborhood represented in dataset.
https://en.wikipedia.org/wiki/Community_areas_in_Chicago

In [52]:
#Read neighborhood dictionary
neighborhood_df = pd.read_csv("Neighborhood_dictionary.csv")
neighborhood_dict = dict(zip(neighborhood_df["Zillow Neighborhood"], neighborhood_df["Community Area"]))

In [53]:
#Invert neighborhood dictionary (keys are community area numbers, values are list of neighborhoods in community area)
inverted_neighborhood_dict = dict()
for key, value in neighborhood_dict.items():
    inverted_neighborhood_dict.setdefault(value, list()).append(key)

In [54]:
#Delete Unused Community Areas
unused_cas = [23, 26, 27, 29, 30, 32, 37, 51, 53, 54, 67, 68, 69]
model_df2 = model_df2.set_index("Community Area")
model_df2.drop(unused_cas, inplace=True)
model_df2 = model_df2.reset_index()

In [60]:
#Create funtion to return zillow median housing value per square foot (mhv)
def return_zillow_value(community_area, month):
    zillow_month = pd.to_datetime(month, format="%m-%Y").strftime("%Y-%m")
    zillow_neighborhoods = inverted_neighborhood_dict[community_area]
    mhvs = pd.Series()
    for neighborhood in zillow_neighborhoods:
        mhv = zillow_df.loc[neighborhood, zillow_month]
        mhvs = mhvs.append(pd.Series(mhv),ignore_index=True)
    
    return mhvs.mean()

In [62]:
#Add Median Housing Value (per square foot) column
model_df2["MHV"] = model_df2.apply(lambda row: return_zillow_value(row["Community Area"], row["Month"]),axis=1)

In order to predict future prices, I will add another column that is the next months price

In [74]:
#Create function to return the next months (future) MHV
def return_future_zillow_value(community_area, month):
    zillow_month = (pd.to_datetime(month, format="%m-%Y") + pd.Timedelta(weeks=5)).strftime("%Y-%m")
    
    try: 
        zillow_df.loc[:,zillow_month]
    except:
        return np.nan
        
    zillow_neighborhoods = inverted_neighborhood_dict[community_area]
    mhvs = pd.Series()
    for neighborhood in zillow_neighborhoods:
        mhv = zillow_df.loc[neighborhood, zillow_month]
        mhvs = mhvs.append(pd.Series(mhv),ignore_index=True)
    
    return mhvs.mean()

In [75]:
#Add future MHV column
model_df2["FUTURE MHV"] = model_df2.apply(lambda row: return_future_zillow_value(row["Community Area"], row["Month"]),axis=1)

To adjust for broad effects such as the housing crisis and inflation, I will make an adjusted housing value column that is the difference from the city average

In [78]:
#Create function to return adjusted MHV (difference from mean of every of other community area)
#This is to adjust for the effects of the recession and inflation
def return_adj_zillow_value(community_area, month):
    zillow_month = pd.to_datetime(month, format="%m-%Y").strftime("%Y-%m")
    zillow_neighborhoods = inverted_neighborhood_dict[community_area]
    mhvs = pd.Series()
    for neighborhood in zillow_neighborhoods:
        mhv = zillow_df.loc[neighborhood, zillow_month]
        mhvs = mhvs.append(pd.Series(mhv),ignore_index=True)
    
    avg_for_month = zillow_df.loc[:,zillow_month].drop(zillow_neighborhoods).mean()
    
    return mhvs.mean() - avg_for_month

In [79]:
#Add Adj MHV column
model_df2["MHV ADJ"] = model_df2.apply(lambda row: return_adj_zillow_value(row["Community Area"], row["Month"]),axis=1)

In [81]:
#Create function to return next months Adj MHV
def return_future_adj_zillow_value(community_area, month):
    zillow_month = (pd.to_datetime(month, format="%m-%Y") + pd.Timedelta(weeks=5)).strftime("%Y-%m")
    
    try: 
        zillow_df.loc[:,zillow_month]
    except:
        return np.nan
        
    zillow_neighborhoods = inverted_neighborhood_dict[community_area]
    mhvs = pd.Series()
    for neighborhood in zillow_neighborhoods:
        mhv = zillow_df.loc[neighborhood, zillow_month]
        mhvs = mhvs.append(pd.Series(mhv),ignore_index=True)
    
    avg_for_month = zillow_df.loc[:,zillow_month].drop(zillow_neighborhoods).mean()
    
    
    return mhvs.mean() - avg_for_month

In [82]:
#Add future Adj MHV column
model_df2["FUTURE MHV ADJ"] = model_df2.apply(lambda row: return_future_adj_zillow_value(row["Community Area"], row["Month"]),axis=1)

In [84]:
#Create function to return previous months Adj MHV
def return_prev_adj_zillow_value(community_area, month):
    zillow_month = (pd.to_datetime(month, format="%m-%Y") - pd.Timedelta(weeks=1)).strftime("%Y-%m")
    zillow_neighborhoods = inverted_neighborhood_dict[community_area]
    mhvs = pd.Series()
    for neighborhood in zillow_neighborhoods:
        mhv = zillow_df.loc[neighborhood, zillow_month]
        mhvs = mhvs.append(pd.Series(mhv),ignore_index=True)
    
    avg_for_month = zillow_df.loc[:,zillow_month].drop(zillow_neighborhoods).mean()
    
    
    return mhvs.mean() - avg_for_month

In [85]:
#Add previous Adj MHV column
model_df2["PREV MHV ADJ"] = model_df2.apply(lambda row: return_prev_adj_zillow_value(row["Community Area"], row["Month"]),axis=1)

Due to the strong seasonality of crime (ie crime rates higher in warmer months), I will adjust the crime rates to be rolling 12 month moving averages

In [89]:
#Add rollling crime type columns
model_df2.set_index("Community Area", inplace=True)
adj_crime_types = list(model_df2.loc[:,"CRIMINAL DAMAGE ADJ":"DOMESTIC VIOLENCE ADJ"].columns)
used_cas = list(model_df2.index.unique())

for ca in used_cas:
    for typ in adj_crime_types:
        current = model_df2.loc[ca, typ]
        smoothed = current.rolling(window=12).mean()
        model_df2.loc[ca, typ] = smoothed
        
model_df2.dropna(inplace=True)

In [ ]:
#Convert to CSV
model_df2.to_csv("model_data2.csv")